<!-- <dl>
    <dt>Name</dt>
    <dd>{{data.name}}</dd>

    <dt>Birth Year</dt>
    <dd>{{data.alternate_names}}</dd>

    <dt>Eye Color</dt>
    <dd>{{data.species}}</dd>

    <dt>Gender</dt>
    <dd>{{data.gender}}</dd>

    <dt>Hair Color</dt>
    <dd>{{data.house}}</dd>

    <dt>Height</dt>
    <dd>{{data.wizard}}</dd>

    <dt>mass</dt>
    <dd>{{data.ancestry}}</dd>

    <dt>Skin Color</dt>
    <dd>{{data.eyeColour}}</dd>

    <dt>Hair Color</dt>
    <dd>{{data.hairColour}}</dd>

    <dt>Wand</dt>
    <dd>{{data.wand}}</dd>

    <dt>Patronus</dt>
    <dd>{{data.patronus}}</dd>

    <dt>HogwartsStudent</dt>
    <dd>{{data.hogwartsStudent}}</dd>

    <dt>Actor</dt>
    <dd>{{data.actor}}</dd>

    <dt>Alternate actors</dt>
    <dd>{{data.alternate_actors}}</dd>

    <dt>Alive</dt>
    <dd>{{data.alive}}</dd>

    <dt>image</dt>
    <dd>{{data.image}}</dd>

    <dt>Create</dt>
    <dd>{{data.dateOfBirth | date}}</dd>

    <dt>Edited</dt>
    <dd>{{data.yearOfBirth | date}}</dd>
</dl> -->
<table style="width:100%">
    <tr>
      <th>Name</th>
      <th>image</th>
    </tr>
    <tr>
      <td>{{data.name}}e</td>
      <td>{{data.image}}</td>
    </tr>
</table>