<nav>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <ul class="cmp-nav-links">
    <img src="https://elizajann.files.wordpress.com/2014/12/img_2134.png" width="100px">
    <li>
      <a routerLink="./character" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        CHARACTER
      </a>
      <a routerLink="spell" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        SPELLS
      </a>
      <a routerLink="species" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        SPECIES
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>