<nav>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <ul class="cmp-nav-links">
    <li>
      <a routerLink="./character" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        CHARACTER
      </a><span class="material-symbols-outlined">
        auto_fix_high
        </span>
      <a routerLink="spell" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        SPELLS
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>