<nav>
    <ul class="cmp-nav-links">
        <li style="display:inline-block;">
          <a routerLink="student" routerLinkActive="st-active">STUDENT</a>
        </li>
    </ul>
    <ul class="cmp-nav-links">
        <li style="display:inline-block;">
          <a routerLink="staff" routerLinkActive="st-active">STAFF</a>
        </li>
    </ul>
<!-- 
    <ul class="cmp-nav-links">
        <li tyle="display:inline-block;">
          <a routerLink="" routerLinkActive="st-active">Spells</a>
        </li>
    </ul> -->

</nav>
<router-outlet></router-outlet>
